:root{
  --fancy-font:'Jacques Francois Shadow', cursive;
  --mono-font: 'Overpass Mono', monospace;
}

.App {
  text-align: center;
  /* background:rgb(242, 243, 242); */
  font-family: var(--mono-font);
}

.App .title{
  font-family: var(--fancy-font);
  font-size:2rem;
}



